In [19]:
import pandas as pd
import numpy  as np

In [20]:
# 6.1.4 JSON 데이터

In [21]:
# JSON은 웹브라우저와 다른 애플리케이션이 HTTP 요청으로 데이터를 보낼 때 널리 사용하는 표준 파일 형식 중 하나다.

In [22]:
# JSON은 CSV 같은 표 형식의 텍스트보다 좀 더 유연한 데이터 형식이다. 아래는 JSON 데이터의 예다.

In [23]:
obj = """  
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
             {"name": "Katie", "age": 38,
              "pets": ["Sixes", "Stache", "Cisco"]}]   
    
}
"""

In [24]:
# JSON은 널값 null과 다른 몇 가지 미묘한 차이(리스트의 마지막에 쉼표가 있으면 안 되는 등)를 제외하면 파이썬 코드와 거의 유사하다.

In [25]:
# 기본 자료형은 객체(사전), 배열(리스트), 문자열, 숫자, 불리언, 그리고 널이다. 객체의 키는 반드시 문자열이어야 한다.

In [26]:
# JSON 데이터를 읽고 쓸 수 있는 파이썬 라이브러리가 몇 가지 있는데 여기서는 파이썬 표준 라이브러리인 json을 사용하겠다.

In [27]:
# JSON 문자열을 파이썬 형태로 변환하기 위해서는 json.loads를 사용한다.

In [28]:
import json

In [29]:
result = json.loads(obj)

In [30]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [31]:
# json.dumps는 파이썬 객체를 JSON 형태로 변환한다.

In [32]:
asjson = json.dumps(result)

In [33]:
# JSON 객체나 리스트를 DataFrame이나 다른 자료구조로 어떻게 변환해서 분석할 것인지는 독자의 몫이다.

In [34]:
# 편리하게도 JSON 객체의 리스트를 사전을 담고 있는 리스트로 변환하여 DataFrame 생성자로 넘기고 데이터 필드를 선택할 수 있다.

In [36]:
siblings = pd.DataFrame(result["siblings"] ,columns=["name", "age"])

In [37]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [38]:
# pandas.read_json은 자동으로 JOSN 데이터셋을 Series나 DataFrame으로 변환할 수 있다.

In [40]:
!type examples/example.json
[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

���� ������ �ùٸ��� �ʽ��ϴ�.

[{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5, 'c': 6}, {'a': 7, 'b': 8, 'c': 9}]

In [41]:
# 별다른 옵션이 주어지지 않았을 경우 pandas.read_json은 JSON 배열에 담긴 각 객체를 테이블의 로우로 간주한다.

In [43]:
data = pd.read_json("examples/examples.json")

In [44]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [45]:
# 좀 더 심화된 JSON 데이터를 읽고 다루는(중첩된 레코드를 포함해서) 예제는 14.4절 "미국 농무부 영양소 정보"의 예제를 참고하자.

In [46]:
# pandas의 데이터를 JSON으로 저장하는 한 가지 방법은 Series나 DataFrame의 to_json 함수를 이용하는 것이다.

In [47]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [48]:
print(data.to_json(orient="records"))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]