In [5]:
!type examples/ex1.csv

���� ������ �ùٸ��� �ʽ��ϴ�.

In [6]:
# 이 파일은 쉼표로 구분되어 있기 때문에 read_csv를 사용해서 DataFrame으로 읽어올 수 있다.

In [11]:
import pandas as pd

In [12]:
from pandas import Series, DataFrame

In [13]:
df = pd.read_csv("examples/ex1.csv")

In [14]:
df

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo

In [15]:
# read_table에 구분자를 쉼표로 지정해서 읽어올 수도 있다.

In [16]:
pd.read_table("examples/ex1.csv", sep=",")

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo

In [17]:
# 모든 파일에 컬럼 이름이 있는 건 아니다. 다음 파일을 보자.

In [18]:
!type examples/ex2.csv

���� ������ �ùٸ��� �ʽ��ϴ�.

In [19]:
# 이 파일을 읽어오는 몇 가지 옵션이 있는데, pandas가 자동으로 컬럼 이름을 생성하도록 하거나 우리가 직접 컬럼 이름을 지정한다.

In [20]:
pd.read_csv("examples/ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
# message 컬럼을 색인으로 하는 DataFrame을 반환하려면 index_col 인자에 4번째 컬럼 또는 "message" 이름을 가진 컬럼을 지정해서 색인으로 만들 수 있다.

In [24]:
names = ["a", "b", "c", "d", "message"]

In [25]:
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [26]:
# 계층적 색인을 지정하고 싶다면 컬럼 번호나 이름의 리스트를 넘기면 된다.

In [27]:
!type examples/csv_mindex.csv

���� ������ �ùٸ��� �ʽ��ϴ�.

In [28]:
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])

In [29]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [30]:
# 가끔은 고정된 구분자 없이 공백이나 다른 패턴으로 필드를 구분해놓은 경우가 있다. 다음과 같은 파일이 있다고 하자.

In [40]:
list(open("examples/ex3.txt"))

['           A          B        C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601 \n',
 'ddd -0.871858 -0.348382  1.100491']

In [37]:
# 직접 파일을 고쳐도 되지만, 이 파일은 필드가 여러 개의 공백 문자로 구분되어 있으므로 이를 표현할 수 있는 정규 표현식 \s+를 사용해서 처리할 수도 있다.

In [41]:
result = pd.read_table("examples/ex3.txt", sep="\s+")

In [42]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [43]:
# 이 경우 첫 번째 로우는 다른 로우보다 컬럼이 하나 적기 때문에 read_table은 첫 번째 컬럼이 DataFrame의 색인이 되어야 한다고 추론한다.

In [44]:
# 파서 함수는 파일 형식에서 발생할 수 있는 매우 다양한 예외(표 6-2)를 잘 처리할 수 있도록 많은 추가 인자를 가지고 있는데, 
# 예를 들면 skiprows를 이용해서 첫 번째, 세 번째, 네 번째 로우를 건너뛸 수 있다.

In [45]:
!type examples/ex4.csv

���� ������ �ùٸ��� �ʽ��ϴ�.

In [46]:
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [47]:
# 누락된 값을 잘 처리하는 것은 파일을 읽는 과정에서 자주 발생하는 일이고 중요한 문제다.

In [48]:
# 보통 텍스트 파일에서 누락된 값은 표기되지 않거나(비어 있는 문자열) 구분하기 쉬운 특수한 문자로 표기된다.

In [49]:
# 기본적으로 pandas는 NA나 NULL처럼 흔히 통용되는 문자를 비어 있는 값으로 사용한다.

In [50]:
!type examples/ex5.csv

���� ������ �ùٸ��� �ʽ��ϴ�.

In [51]:
result = pd.read_csv("examples/ex5.csv")

In [52]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [53]:
# na_values 옵션은 리스트나 문자열 집합을 받아서 누락된 값을 처리한다.

In [54]:
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])

In [55]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [56]:
# 컬럼마다 다른 NA 문자를 사전값으로 넘겨서 처리할 수도 있다.

In [57]:
sentinels = {"message": ["foo", "NA"], "something": ["two"]}

In [58]:
pd.read_csv("examples/ex5.csv", na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [59]:
# [표 6-2]에 pandas_read_csv와 pandas_read_table에서 자주 사용하는 인자들을 모아두었다.